.main {
  width: 100vw;
  min-height: 95vh;
}

.landing-section {
  position: relative;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  background-image: url('../img/kitchenvert.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  
}

.landing-content {
  padding-top: 45vh;
  width: 500px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title-logo {
  max-height: 100px;
  text-shadow: 0.1em 0.1em 0.3em rgba(16,12,8, 0.9);
  
}

.landing-title {
  padding: 0.5em 1em;
  font-size: 2em;
  color: white;
  text-shadow: 0.1em 0.1em 0.3em rgba(16,12,8, 0.9)
}

.landing-statement {
  padding: 0 2em;
  color: white;
  text-shadow: 0.1em 0.1em 0.3em rgba(16,12,8, 0.8)
}

.typing {
  position: relative;

}

.typing::after {
  content: "";
  position: absolute;
  right: -5px;
  width: 2px;
  height: 100%;
  border-right: 2px solid white;
  animation: type-cursor 0.7s infinite ease-in-out;
}

@keyframes type-cursor {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.landing-button {
  all: unset;
  align-self: flex-start;
  border: 2px  rgba(16,12,8) solid;
  padding: 0.6em;
  color: white;
  background-color: rgba(16,12,8, 0.9);
  cursor: pointer;
  transition: all 0.2s ease;
}

.button-link {
  margin-top: 0.8em;
}

.landing-button:hover {
  background-color:rgba(16,12,8)
}

.landing-button:focus {
  outline: 3px solid white;
}

/* About section homepage */

.section {
  min-height: 50vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.section-title {
  font-size: 2.3em;
  width: 90%;
  text-align: center;
}

.section-content {
  padding: 1.5em;
  width: 90%;
  max-width: 1024px;
}

.about-info {
  margin-top: 1.6em;
  line-height: 1.5em;
  font-size: 1em;
}

.landing-button.about {
  margin: 1em 0;
}

.section-img-container {
  width: 100%;
}

.section-img-container img {
  width: 100%;
  height: auto;
}


/* Build process section */

.build-process.section {
  background-color: #F2F2F2;
}


.section-content.build-process {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  max-width: 1200px;
  margin-bottom: 2em;
}


/* build process card styles */

.build-process-card {
  position: relative;
  width: 250px;
  height: 330px;
  background-color: white;
  margin: 1em;
  border-radius: 0.5em;
}

.card-icon {
  display: block;
  text-align: center;
  margin: 0.5em 1em 0.3em 1em;
}

.card-title {
  text-align: center;
  font-size: 1.5em;
}

.card-text {
  margin: 1em;
}

.card-button {
  position: absolute;
  top: 310px;
  left: 65px;
  height: 40px;
  width: 120px;
  border: 2px  rgba(16,12,8) solid;
  border-radius: 2px;
  color: white;
  background-color: rgba(16,12,8, 0.9);
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 1em;
}

.card-button:hover {
  background-color: rgba(16,12,8);
}

/* About us page - why choose jarrahbuild section */
.section.why-us {
  justify-content: center;
  background-color: #f2f2f2;
}
.why-us.title {
  text-align: center;
  font-size: 2.3em;
  margin-bottom: 0.5em;

}
.content-container.sec3 {
  max-width: 1400px;
  display: flex;
  flex-wrap: wrap;
  padding: 0 2em;
}

.card-why-us {
  padding: 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-title-why-us {
  padding: 0.5em;
}

.card-content-why-us {
  text-align: center;
}

/* Client testimony section */
 .client-testimony.section {
   min-height: 40vh;
   margin-bottom: 4em;
   background-color: white;
 }

 .section-title.testimony {
   margin-bottom: 1em;
 }

 .carousel {
   position: relative;
   height: 600px;
   width: 90%;
   max-width: 1024px;
   
 }

 .carousel__track-container {
   /* background: lightgreen; */
   position: relative;
   /* padding: 10px; */
   height: 100%;
   overflow: hidden;
 }

 .carousel__track {
   position: relative;
   padding: 0; 
   margin: 0;
   list-style: none;
   height: 100%;
   transition: transform 0.5s ease-in-out;
 }

 .carousel__slide {
   position: absolute;
   background-color: #F2F2F2;
   padding: 30px 10px;
   top:0;
   bottom: 0;
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: center;
   /* align-items: center; */
   flex-wrap: wrap;
   
 }

 .client-quote-container {
   width: 100%;
   /* height: 40%; */
   padding-left: 10px;
   display: flex;
   flex-direction: column;
   justify-content: center;
 }

 .client-quote {
  line-height: 1.5em;
 }

 .client-name {
   margin: 0.8em 0;
 }

 .client-image {
   width: 100%;
   height: 60%;
   display: flex;
   justify-content: center;
   align-items: center;
 }
 .client-image img {
   max-width: 100%;
   max-height: 100%;
   
 }

 .carousel__button {
   position: absolute;
   top: 50%;
   transform: translateY(-50%);
   height: 20px;
   width: 20px;
   border: 0;
   background: transparent;
   cursor: pointer;
 }

 .carousel__button--right {
   right: -15px;
 }

 .carousel__button--left {
   left: -15px;
 }

 .carousel__nav {
   display: flex;
   justify-content: center;
   align-items: center;
 }

 .carousel__indicator {
   border: 0;
   border-radius: 50%;
   width: 15px;
   height: 15px;
   margin: 10px;
   background: rgba(0,0,0,0.3);
   cursor: pointer;
 }

 .carousel__indicator.current-slide {
   background: rgba(0,0,0,0.7)
 }

 .is-hidden {
   display: none;
 }

 

 
   
   
 

 @media only screen and (min-width: 768px) {
  .section-content.large-layout {
    display: flex;
    
  }

  .landing-section {
    background-image: url('../img/landing_large_screen.jpg');
    background-size: cover;
    background-repeat: no-repeat;
  
  }

  .landing-content {
    padding-top: 45vh;
    width: 500px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .landing-statement {
    font-size: 1.5em;
  }
  
  .title-logo {
    max-height: 160px;  
  }

  .section-content-container {
    width: 50%;
  }

  .section-img-container {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .section-img-container img {
    width: 90%;
    
  }

  .carousel__slide {
    flex-wrap: nowrap;
  }

  .client-quote-container {
    width: 60%;
  }

  .client-image {
    height: 100%;
    width: 40%;
  }

  .carousel {
    height: 300px;
  }

  .carousel__button--right {
    right: -25px;
  }
 
  .carousel__button--left {
    left: -25px;
  }

  .card-why-us {
    width: 50%;
  }

  
 }

@media only screen and (min-width: 1024px) {
  .landing-content {
    max-width: 900px;
  }

  .landing-content {
    padding-top: 42vh;
   
  }
  
  .title-logo {
    max-height: 150px;    
  }

  .landing-title {
    font-size: 4em;
  }

  .landing-statement {
    font-size: 1.5em;
    padding: 0 2.7em;
  }

  .landing-button {
    font-size: 1em;
    margin: 1em 4em;
  }

  .card-why-us {
    width: 25%;
  }
 }