/* Banner styles used on about/contact/projects page */

.top-banner-section {
  width: 100%;
  height: 50vh;
  position: relative;
  background-image: url('/img/kitchen2.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.banner-title-container {
  position: absolute;
  top: 23vh;
  width: 100vw;
  margin: 0 auto;
}

.banner-title {
  font-size: 2.5em;
  text-align: center;
  color: white;
  text-shadow: 0.1em 0.1em 0.3em rgba(16,12,8, 0.9)
}

.banner-subtitle {
  color: white;
  text-shadow: 0.1em 0.1em 0.3em rgba(16,12,8, 0.9)
}


.gallery-section {
  padding-top: 50px;
}

.grid-img:hover {
  opacity: 0.9;
  box-shadow: 0px 0px 12px rgba(16,12,8, 0.9);
} 

.gallery-container {
  width: 90vw;
  margin: 50px auto;
  max-width: 1024px;
}

.grid-img {
  width: 100%;
  height: auto;
  display: block;
  margin: 15px auto;
  
  cursor: pointer;
  transition: 0.3s
}

.modal-container {
  position: fixed;
  overflow: auto;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.8);
  display: none;
 
}

.modal-img-container {
  width: 90%;
  height: 80vh;
  position: relative;
  margin: 0 auto;
  margin-top: 150px;
  max-width: 900px;
  display: flex;
  justify-content: center;
  align-items: center; 
}

.modal-img {
  max-width: 100%;
  max-height: 100%;
}

.close {
  position: absolute;
  top: 0;
  right: 50%;
  transform: translate(50%, -100%);
  color: white;
  font-size: 50px;
  cursor: pointer;
}

.scroll_arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

.arrow {
  display: block;
  width: 30px;
  height: 30px;
  border-bottom: 5px solid white;
  border-right: 5px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll 2s infinite;
}

.arrow:nth-child(2) {
  animation-delay: -.2s;
}
.arrow:nth-child(3) {
  animation-delay: -.4s;
}
.arrow:nth-child(2) {
  animation-delay: -.2s;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px)
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px)
  }
}


@media only screen and (min-width: 768px) {

  .gallery-container {
    column-count: 2;
  }
  .grid-img {
    margin: 0px 15px 15px 15px;
  }

  /* Banner styles used on about/contact/projects page */

  .banner-title {
    font-size: 3.5em;
    text-align: center;
    font-family: 'EnvironmentBold';
  }
  .banner-subtitle {
    font-size: 1.8em;
    text-align: center;
  }

  .banner-title-container {
    top: 25vh;
  }
  .top-banner-section {
    width: 100%;
    height: 50vh;
    position: relative;
    background-image: url('/img/kitchen_dining.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media only screen and (min-width: 1024px) {

  .gallery-container {
    column-count: 3;
  }

  .scroll_arrow {
    display: block;
  }
  /* Banner styles used on about/projects/contact page */
  .banner-title {
    font-size: 4em;
  }
  .banner-title-container {
    width: 65vw;
    top: 65vh;
  }

  .top-banner-section {
    width: 100%;
    height: 100vh;
    position: relative;
    background-image: url('/img/kitchen_dining.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

}

