
/* Default styles */
@font-face {
  font-family: 'GothamRegular';
  src: url('/fonts/Gotham-Book.ttf') format('truetype');
}
@font-face {
  font-family: 'GothamMedium';
  src: url('/fonts/GothamMedium') format('truetype');
}
@font-face {
  font-family: 'EnvironmentRegular';
  src: url('/fonts/Environment_Regular.ttf') format('truetype');
  font-weight: 'normal';
}

@font-face {
  font-family: 'EnvironmentBold';
  src: url('/fonts/Environment_Bold.ttf') format('truetype');
  font-weight: 'bold';
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Helvetica';
  font-size: 1em;
}

h1, h2, h3 {
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

ul {
  list-style: none;
  
}

a {
  text-decoration: none;
  color: #FFFAFA;
}






/* Header / nav styles */
.main-header {
  position: fixed;
  width: 100%;
  background-color: #100c08;  
  z-index: 3;
}

.header-logo {
  max-height: 70px;
}

.header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: wrap;
  padding: 0px 1em;
}

/* Navigation links */
.nav-links {
  display: flex;
  flex-flow: column;
  align-items: center;
  position: absolute;
  top: 70px;
  left: 0px;
  right: 0px;
  background-color: rgba(16,12,8, 0.8);
  opacity: 0;
  transform: scaleY(0);
  transform-origin: top center;
  transition: all 0.5s ease-in-out;
  
  
}

.dropdown-open {
  position: absolute;
  padding-top: 1em;
  opacity: 1;
  transform: scaleY(1);

}




.nav-link {
  font-size: 1.5em;
  width: 100%;
  padding: 20px 0px;
  border-bottom: 1px #FFFAFA solid;
  text-align: center;
  
}

.nav-link a {
  position: relative;
  font-family: 'EnvironmentRegular';
  letter-spacing: 0.1em;
}

.nav-link a:after {
  content: "";
  position: absolute;
  background-color: #FFFAFA;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -5px;
  transition: 0.3s;
}

.nav-link a:hover:after {
  width: 100%;
}



/* Hamburger button */
.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 70px;
  height: 70px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
}

.menu-button-burger {
  width: 50px;
  height: 5px;
  background: #fff;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-button-burger::before,
.menu-button-burger::after {
  content: '';
  position: absolute;
  background: #fff;
  width: 50px;
  height: 5px;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
}

.menu-button-burger::before {
  transform: translateY(-15px);
}

.menu-button-burger::after {
  transform: translateY(15px);
}

/* burger animation */

.menu-button.open .menu-button-burger {
  transform: translateX(50px);
  background: transparent;
}

.menu-button.open .menu-button-burger::before {
  transform: rotate(45deg) translate(-35px, 35px);

}

.menu-button.open .menu-button-burger::after {
  transform: rotate(-45deg) translate(-35px, -35px);
  
}

/* Scroll arrow */

.scroll_arrow {
  position: absolute;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.arrow {
  display: block;
  width: 20px;
  height: 20px;
  border-bottom: 4px solid white;
  border-right: 4px solid white;
  transform: rotate(45deg);
  margin: -10px;
  animation: scroll 2s infinite;
}

.arrow:nth-child(2) {
  animation-delay: -.2s;
}
.arrow:nth-child(3) {
  animation-delay: -.4s;
}
.arrow:nth-child(2) {
  animation-delay: -.2s;
}

@keyframes scroll {
  0% {
    opacity: 0;
    transform: rotate(45deg) translate(-20px, -20px)
  }
  50%{
    opacity: 1;
  }
  100%{
    opacity: 0;
    transform: rotate(45deg) translate(20px, 20px)
  }
}

/* Default styles for each section */

.section {
  min-height: 50vh;
  width: 100%;
  padding: 4em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}


 /* Footer styles */

footer {
  background-color: #100c08;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: 3em; */
}

.footer-logo {
  max-height: 80px;
  margin: 1em auto 0 auto;
}

.footer-links-container {
  margin: 2em;
}

.footer-subtitle {
  color:rgba(255,250,250, 0.9);
  text-align: center;
  margin-bottom: 1em;
  font-size: 1.5em;
}

.footer-nav-links {
  margin-bottom: 1.5em;
}

.footer-nav-links.socials {
  text-align: center;
}

.footer-link.social {
  display: inline;
}


.footer-link {
  color:rgba(255,250,250, 0.9);
  text-align: center;
  padding: 0.5em;
  z-index: 1;
}

.footer-icon {
  margin-right: 0.5em;
}

.social-icon {
  font-size: 30px;
}

.footer-link a {
  position: relative;
}

.footer-link a:after {
  content: "";
  position: absolute;
  width: 0;
  height: 2px;
  background-color: #FFFAFA;
  left: 0;
  bottom: -1px;
  transition: 0.3s;
}

.footer-link a:hover:after {
  width: 100%;
}

/* Banner styles used on about/contact/projects page */

.top-banner-section {
  width: 100%;
  height: 50vh;
  position: relative;
  background-image: url('/img/loungeroom1.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}


.banner-title-container {
  position: relative;
  top: 23vh;
  width: 90vw;
  margin: 0 auto;
}

.banner-title {
  font-size: 2.5em;
  color: white;
  text-shadow: 0.1em 0.1em 0.3em rgba(16,12,8, 0.9)
}

.banner-subtitle {
  color: white;
  text-shadow: 0.1em 0.1em 0.3em rgba(16,12,8, 0.9)
}




/* Ipad size screen */

@media only screen and (min-width: 768px) {

  /* footer styles */
  .footer-links-container {
    display: flex;
    width: 720px;
    
  }

  .footer-nav-links {
    width: 240px;
  }
  
}

/* ipad pro size screen */

@media only screen and (min-width: 1024px) {
  
  /* Remove hamburger icon */
  .menu-button {
    display: none;
  }

  .header-logo {
    max-height: 90px;
  }

  .nav-links {
    all: initial;
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    height: 90px;;
  }

  .nav-link {
    display: flex; 
    align-items: center;
    justify-content: center;
    padding: 1em;
    height: 90%;
    border-bottom: none;
    min-width: 6em;
    transition: all 0.5s ease-in-out;
  }

  .nav-link a {
    transition: all 0.5s ease-in-out;
    /* font-family:'EnvironmentRegular';; */
  }

  .nav-link:hover  a {
    color: rgba(255,250,250, 0.9);
    transform: scale(1.05);
  }

  /* scroll arrow */

  .scroll_arrow {
    display: block;
  }
  
}